h1 {
   font-size: 30pz;
   color: blue;
  
   
}
p {
   color: rgb(42, 165, 89);
}
img {
   font-weight: 200;
  
}
body {
   background-color:rgb(231, 228, 19);
}
h2 {
   color: darkmagenta;
   font-size: 30px;
}